---
import Header from '../components/Header.astro';
import Loader from '../components/Loader.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
import 'aos/dist/aos.css';
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Portafolio de Waldo Fernández - Desarrollador Full Stack"
    />
    <link rel="icon" type="image/png" href="/letra-w.png" />
    <link rel="icon" type="image/svg+xml" href="/letra-w.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Waldo Fernández | Full Stack Developer</title>
  </head>
  <body class="antialiased">
  	<Loader />
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
    <script>
      import AOS from 'aos';
      
      document.addEventListener('DOMContentLoaded', () => {
        AOS.init({
          duration: 600,
          easing: 'ease-out-cubic',
          once: true,
          offset: 100,
          startEvent: 'DOMContentLoaded',
        });
      });
    </script>
  </body>
</html>
